@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

a{
    text-decoration: none;
    color: black;
}

.flex-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header{
    background-color: rgb(123, 48, 13);
    padding: 1rem;
    font-size: 20px;
}

header nav li{
    display: inline-block;
    list-style: none;
    margin: 20px;
}

nav{
    color: black;
}

header input{
    width: 8rem;
    height: 3rem;
}

img{
    width: 70px;
}

i{
    font-size: 25px;
    color: black;
}

.icons{
    padding: bottom 1px; ;
}

.videoframe {
    overflow: hidden;
    margin-bottom: 3rem;
    max-height: 120vh;
}

video {
    width: 100%;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    align-items : center;
    padding: 10px;
}

.flex-item {
    flex: 1;
    padding: 2,5%;
}

main img{
    width: 100%;
}

#abc { 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.flex-container-main-categories{
    display: flex;
    justify-content: center;
    gap: 3%;
    align-items: center;
    flex-direction: row;
    flex-flow: row wrap;
    padding-bottom: 100px;
    margin-right: 20px;
}

.flex-container-main-categories img {
    width: 360px;
}
figure {
    position: relative;

}

figcaption {
    position: absolute;
    bottom: 15%;
    left: 18%;
}

button {
    border-radius: 100px;
    align-content: center;
    padding: 5px 10px;
    border-style: hidden;
    background-color: white;
    font-family: rubik, sans-serif;
    font-size: 20px;
}

footer {
    background-color: rgb(123, 48, 13);
    color: #FFFFFF;
    padding: 40px 0;
  }
 
  .footer-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto;
  }
 
  .footer-column {
    flex-basis: 25%;
    padding: 0 15px;
  }
 
  .footer-column h4 {
    font-size: 18px;
    margin-bottom: 16px;
  }
 
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
 
  li {
    margin-bottom: 8px;
  }
 
  a {
    color: #FFFFFF;
    text-decoration: none;
  }
 
  a:hover {
    text-decoration: underline;
  }
 
  .social-icons li:first-child {
    margin-left: 0;
  }
  
  .social-icons i {
    margin-top: 3px;
  }

  .social-icons li {
    margin-left: 16px;
    display: inline-block;
  }
 
  .social-icons a {
    display: inline-block;
    width: 32px;
    height: 32px;
    background-color: #FFFFFF;
    border-radius: 50%;
    text-align: center;
    line-height: 32px;
    font-size: 14px;
    color: #0F1111;
  }
 
  .social-icons a:hover {
    background-color: #ffffff;
    color: #0F1111;
  }
 
  .footer-bottom {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    margin:auto;
  }