:root {
  --bgc-01: hsl(0, 0%, 100%);
  --bgc-02: #AA0000;
  --txt-01: #ffff;
  --txt-02: #FF154A;
}

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  background-color: var(--bgc-01);
  color: var(--txt-01);
  font-family: "Segoe UI", Black;
  line-height: 1;
}

img {
  display: block;
  width: 100%;
}

/* header vormgeving */

header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  background-color: var(--bgc-02);
  padding: 1rem;
  color: var(--txt-02)
}

header nav li {
  display: inline-block;
}

header img {
  width: 5rem;
}

h2 {
  margin-bottom: 2rem;
  margin-top: 1rem;
  text-transform: uppercase;
  text-align: center;
}

p {
  font-weight: 600;
}

a {
  text-decoration: none;
  margin: 10px;
}

header,
main {
  padding: 1rem;
}

header h1 {
  display: inline-block;
  margin-left: 0.2ch;
  font-weight: 600;
}

header nav {
  justify-self: center;
  align-self: center;
}

header nav ul li:hover {
  color: rgb(255, 255, 255);
  transform: scale(1.1);
  transform: translateY(-5px);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  grid-gap: 20px;
  margin-left: 85px;
  margin-right: 50px;
}

.grid-item img {
  width: 250px;
  height: 160px;
  border-style: ridge;
  border-color: #AA0000;
  display: block;
  justify-content: center;
}

.grid-item img:hover {
  transform: scale(1.1);
  transform: translateY(10px);
}

.grid-item h3 {
  color: rgb(255, 255, 255);
  bottom: 65px;
  left: 15px;
  letter-spacing: 0.5ch;

}

.grid-item p {
  position: absolute;
  bottom: 45px;
  left: 15px;
  letter-spacing: 0.5ch;
}

body {
  background-color: black;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 200%;
}

.bg {
  background-image: url('Images/Concert.jpg');
  background-size: cover;
}

footer {
  background-color: #AA0000;
  color: #FF154A;
  width: 100%;
}


.grid-item {
  position: relative;
  overflow: hidden;
  width: 100%;

}

footer .grid-item {
  text-align: center;
  justify-content: center;
  column-count: 2;
  column-gap: 5px;
}

.grid-item2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 105px;
}

.grid-item h4 {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.grid-item h4:hover {
  color: rgb(254, 254, 254);
  transform: scale(1.1);
  transform: translateX(10px);
}

#lineup .grid-item {
  padding: 50px;
}


.artist {
  font-size: 30px;
  color: #FF154A;
}

#artiest .grid-container {
  grid-template-columns: 1fr 1fr;
  color: #FF154A;
}

#artiestenpagina .footer {
  width: 100px;
}

#artiest .social-icon {
  justify-content: center;
  align-items: center;
  color: #FF154A;
}

header input#burger {
  display: none;
}

header label[for="burger"] {
  position: fixed;
  z-index: 3;
  top: 0;
  right: 0;
  display: none;
  width: 100%;
  padding: 1rem 1ch;
  text-align: right;
  cursor: pointer;
}

header label[for="burger"] i {
  margin: 0;
  font-size: 1.25rem;
}

@media (width <=750px) {
  header label[for="burger"] {
    display: block;
  }

  header nav ul {
    position: fixed;
    z-index: 3;
    top: 3rem;
    right: 0;
    display: none;
    padding-right: 1ch;
    width: 100%;
    background-color: var(--bgc-02);
    text-align: right;
    user-select: none;
  }

  header input#burger:checked+label[for="burger"]+nav ul {
    display: flex;
    flex-direction: column;
  }

  #lineup .grid-container {
    grid-template-columns: 1fr;
  }
}